<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value=".php" />
                <add value=".config" />
                <add value=".html" />
                <add value=".css" />
                <add value=".js" />
                <add value=".fonts" />
                <add value=".ttf" />
                <add value=".IMG" />
                <add value=".png" />
                <add value=".ico" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
