/**/
/* Default style sheet, min-width < 1440px*/
/* Styles for small screens (e.g., smartphones) */
/* @import 'mobilep.css';*/
/* @import 'desktopl.css';*/
/* @import 'desktopp.css';*/
      /* Styles for desktop */
      /* Style for landscape view */
      /* @import 'mobilep.css';*/
      /* @import 'desktopl.css';*/
      /* @import 'desktopp.css';*/
  @media (max-width: 1149px) {
  @keyframes moveEnterprise {
    0% {
      left: -50px;
      }
    100% {
      left: calc(99% - 75px);
    }}
  
  @font-face {
    src: url('Ubuntu-Regular.ttf') format('truetype');
    font-family: 'Ubuntu';
  }
  
  @font-face {
    src: url('Ubuntu-Bold.ttf') format('truetype');
    font-family: 'Ubuntu';
    font-weight: bold;
  }
  .flxLadder {font-size: 8px;}
  #lgxStop, #lgxSafe, #lgxReady, #plcStop, #plcSafe, #plcReady {background-color: #84ffa9;}
  #lgxRunning, #lgxStart, #lgxPACS, #plcRunning, #plcStart, #plcPACS {background-color: #f2f2f2;}
  .flxLadder span:hover {background-color: #ffc880;}
  
  .hvrOffset:hover {
    color: #000000;
    background-color: #cccccc;
  }
  
  .hvrBlue:hover {
    color: #000000;
    background-color: #AEE2FC;
  }
  
  form label:hover, form input:hover {
    color: #000000;
    background-color: #f2f2f2;
  }
  
  button:hover {
    color: #000000;
    background-color: #00aaff;
  }
  
  .flxWidget:hover {
    font-weight: bold;
    transform: scale(.9);
    background-color: #f2f2f2;
    transition: background-color 0.3s;
  }

  .posBelow {z-index: -10;}
  .pos0 {z-index: 0;}
  .pos1 {z-index: 1;}
  .pos3 {z-index: 999;}
  
  .posLt420 {margin-left: -4.2%};
  
  .posRel {position: relative;}
  .posAbs {position: absolute;}
  .fntH2 {font-size: 16px;}
  .fntWhite {color: #ffffff;}
  .fntDefault {color: #f2f2f2;}
  .fntBlack {color: #000000;}
  .fnt8 {font-size: 8px;}
  .fnt22 {font-size: 22px;}

  .fntBtn, .fntDash {
    font-size: 8px;
    font-weight: bold;
  }
  
  .fntCir {
    font-size: 16px;
    font-weight: bold;
  }

  h1 {
    font-weight: normal;
    font-size: 16px;
  }

  p strong {
    font-size: 12px;
  }

  .chkBox {
    -webkit-transform: scale(.5);
    transform: scale(.5);
  }
   
  input {border: transparent;}
  .opac15 {opacity: 15%;}
  .rad5 {border-radius: 5px;}
  .rad15 {border-radius: 15px;}
  .borTransparent {border: transparent;}
  .borDefault {border: 1px solid #f2f2f2;}
  .borBlack {border: 1px solid #000000;}
  .borTpBlack {border-top: 1px solid #000000;}
  .borOffset {border: 1px solid #cccccc;}
  .borBtDefault {border-bottom: 1px solid #f2f2f2;}
  .borBtOffset {border-bottom: 1px solid #cccccc;}
  .borBtBlack {border-bottom: 1px solid #000000;}
  
  .borBranch {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
  }

  .flxBtBranch {
    margin-bottom: -15px;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
  }
  
  .flxTpBranch {
    margin-bottom: -15px;
    align-items: center;
    justify-content: flex-end;
  }
    
  .cirA {background-color: #ffbe81;}
  .cirP {background-color: #AEE2FC;}
  .cirQ {background-color: #8183ff;}
  .cirOEE {background-color: #b3ff81;}
  .bckTransparent {background-color: transparent;}
  .bckDefault {background-color: #f2f2f2;}
  .bckWhite {background-color: #ffffff;}
  .bckOffset {background-color: #cccccc;}
  .bckFoot {background-color: #333333;}
  
  .imgSclSmall {object-fit: scale-down;}
  .animTrans {transition: background-color 0.3s;}
  
  .pad_10 {padding: .1%;}
  .pad_5 {padding: .5%;}
  .pad1 {padding: 1%;}
  .pad3 {padding: 3%;}
  .pad5 {padding: 5%;}
  .pad10 {padding: 10%;}
  .padLt_5 {padding-left: .5%;}
  .padLt1 {padding-left: 1%;}
  .padLt3 {padding-left: 3%;}
  .padLt5 {padding-left: 5%;}
  .padLt10 {padding-left: 10%;}
  .padRt_5 {padding-right: .5%;}
  .padRt1 {padding-right: 1%;}
  .padRt3 {padding-right: 3%;}
  .padRt5 {padding-right: 5%;}
  .padRt10 {padding-right: 10%;}
  .padBt_5 {padding-bottom: .5%;}
  .padBt1 {padding-bottom: 1%;}
  .padBt3 {padding-bottom: 3%;}
  .padBt5 {padding-bottom: 5%;}
  .padBt10 {padding-bottom: 10%;}
  .padTp_5 {padding-top: .5%;}
  .padTp1 {padding-top: 1%;}
  .padTp3 {padding-top: 3%;}
  .padTp5 {padding-top: 5%;}
  .padTp10 {padding-top: 10%;}
  
  .mar_10 {margin: .5%;}
  .mar_5 {margin: .5%;}
  .mar1 {margin: 1%;}
  .marLt_5 {margin-left: .5%;}
  .marLt1 {margin-left: 1%;}
  .marLt2 {margin-left: 2%;}
  .marLt3 {margin-left: 3%;}
  .marLt4 {margin-left: 4%;}
  .marLt5 {margin-left: 5%;}
  .marLt8 {margin-left: 8%;}
  .marLt10 {margin-left: 10%;}
  .marLt13 {margin-left: 13%;}
  .marLt20 {margin-left: 20%;}
  .marLt25 {margin-left: 25%;}
  .marRt_5 {margin-right: .5%;}
  .marRt1 {margin-right: 1%;}
  .marRt2 {margin-right: 2%;}
  .marRt3 {margin-right: 3%;}
  .marRt5 {margin-right: 5%;}
  .marRt10 {margin-right: 10%;}
  .marRt20 {margin-right: 20%;}
  .marRt25 {margin-right: 25%;}
  .marBt_5 {margin-bottom: .5%;}
  .marBt1 {margin-bottom: 1%;}
  .marBt2 {margin-bottom: 2%;}
  .marBt3 {margin-bottom: 3%;}
  .marBt5 {margin-bottom: 5%;}
  .marBt10 {margin-bottom: 10%;}
  .marBt20 {margin-bottom: 25%;}
  .marTp_5 {margin-top: .5%;}
  .marTp1 {margin-top: 1%;}
  .marTp2 {margin-top: 2%;}
  .marTp3 {margin-top: 3%;}
  .marTp5 {margin-top: 5%;}
  .marTp10 {margin-top: 10%;}
  .marTp20 {margin-top: 20%;}
  
  .flxWd2 {width: 2%;}
  .flxWd4 {width: 4%;}
  .flxWd6 {width: 6%;}
  .flxWd8 {width: 8%;}
  .flxWd10 {width: 10%;}
  .flxWd15 {width: 15%;}
  .flxWd20 {width: 20%;}
  .flxWd35 {width: 35%;}
  .flxWd50 {width: 50%;}
  .flxWd65 {width: 65%;}
  .flxWd75 {width: 75%;}
  .flxWd85 {width: 85%;}
  .flxWd95 {width: 95%;}
  .flxWd {width: 100%;}
  .flxHt0 {height: 0%;}
  .flxHt_10{height: 2px;}
  .flxHt2 {height: 2%;}
  .flxHt4 {height: 4%;}
  .flxHt6 {height: 6%;}
  .flxHt8 {height: 8%;}
  .flxHt10 {height: 10%;}
  .flxHt15 {height: 15%;}
  .flxHt20 {height: 20%;}
  .flxHt35 {height: 35%;}
  .flxHt50 {height: 50%;}
  .flxHt65 {height: 65%;}
  .flxHt75 {height: 75%;}
  .flxHt85 {height: 85%;}
  .flxHt95 {height: 95%;}
  .flxHt {height: 100%;}

  .indentSection {
    margin-left: 1%;
    margin-top: 1%;
  }

  .dashboard {
    height: 100%;
    width: 30%;
  }
  
  body {
    -webkit-user-select: none;
    user-select: none;
    height: 100vh;
    width: 100vw;
    display: -webkit-flex;
    flex-direction: column;
    font-family: 'Ubuntu';
    background-color: #cccccc;
  }

  .section {
    padding-left: 1%;
    transition: background-color 0.3s;
  }

  .flxTitle {
    width: 100%;
    margin-bottom: 1%;
    display: -webkit-flex;
    position: relative;
    background-color: transparent;
    border-bottom: 1px solid #bebebe;
  }  

  .flxRow {
    display: -webkit-flex;
    flex-direction: row;
  }
  
  .flxCol {
    display: -webkit-flex;
    flex-direction: column;
  }

  .flxColRow {
    display: -webkit-flex;
    flex-direction: column;
  }

  .flxNav {
    width: 100%;
    height: 100%;
  }

  .flx80 {
    width: 80%;
    height: 80%;
  }
  
  .flx99 {
    width: 99.5%;
    height: 99.5%;
  }
  
  .flxMain {
    width: 100%;
    height: 100%;
  }
  
  .flxFull {
    width: 100%;
    height: 100%;
  }
  
  .flxDash {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: 1px solid #000000;
    align-items: center;
    justify-content: left;
  }

  .flxRun {
    width: 35%;
    height: 25%;
  }

  .flxWidget {
    width: 100%;
    height: 20%;
    margin: 1%;
    font-size: 12px;
    display: -webkit-flex;
    box-shadow: 0px 8px 16px 0px #cccccc;
  }

  .flxPops {
    right: 3%;
    top: 12%;
    min-width: 30%;
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
  }
  
  .flxOps {
    right: 1%;
    min-width: 70%;
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
  
  #ddOp1 .flxOps {top: 13%;}
  #ddOp2 .flxOps {top: 27%;}
  #ddOp3 .flxOps {top: 70%;}
  #ddOp4 .flxOps {top: 84%;}
  
  .flxPops div div a, .flxOps div div a {
    padding: 8%;
    text-decoration: none;
    display: -webkit-flex;
    text-align: flex-start;
    flex-direction: row;
    color: #cccccc;
  }
  
  #ddIndustry:hover .flxPops, #ddOp1:hover .flxOps, #ddOp2:hover .flxOps, #ddOp3:hover .flxOps, #ddOp4:hover .flxOps {
    display: -webkit-flex;
    flex-direction: column;
  }
  
  header {
    padding: .1%;
    height: 8%;
    width: 100%;
    display: -webkit-flex;
    position: relative;
    background-color: #AEE2FC;
    z-index: -99;
    font-size: 22px;
    font-weight: bold;
    align-items: center;
    align-items: left;
  }
  
  .Enterprise {
    width: 15%; /* Adjust the size of the rocket ship as needed */
    height: 100%;
    position: absolute;
    animation: moveEnterprise 60s linear infinite;
    z-index: 0;
  }
  
  main {
    flex: 1;
    display: -webkit-flex;
    z-index: 2;
  }

  .dashHeader {
    width: 90%;
    display: -webkit-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 3%;
    border-bottom: 1px solid #ffffff;
  }
  
  .btnCmd {
    height: 50%;
    width: 100%;
    padding: 1%;
    font-size: 8px;
    color: #000000;
    background-color: #f2f2f2;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 5px;
  }

  .btnDash {
    padding: 3%;
    width: 90%;
    color: #000000;
    background-color: #f2f2f2;
    font-weight: bold;
    border-radius: 5px;
    align-items: center;
    justify-content: right;
  }
  
  .btnForm {
    display: -webkit-flex;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    text-align: center;
    align-items: flex-end;
    justify-content: flex-end;
  }
  
  button {
    width: 25%;
    display: -webkit-flex;
    padding: 1%;
    background-color: #AEE2FC;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
    text-align: center;
  }
  
  .lftPara {
    display: -webkit-flex;
    font-size: 12px;
    line-height: 1.5;
    font-weight: normal;
    background-color: #cccccc;
  }
    
  .rhtPara {
    display: -webkit-flex;
    font-size: 12px;
    line-height: 1.5;
    font-weight: normal;
    background-color: #cccccc;
  }

  .widget {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #f2f2f2;
  }
  
  .popup {
    display: none;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .popover {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    display: -webkit-flex;
    justify-content: left;
    align-items: center;
    background-color: #f2f2f2;
    z-index: 10;
  }

  li {
    font-size: 10px;
    margin-top: 3%;
    list-style-type: "-> ";
    font-weight: bold;
    color: #000000;
    border: transparent;
  }
  
  li img, .flxIndustry img {
    width: 20px;
    height: 20px;
  }
  
  .btnLink, .decorationOff {
    text-decoration: none !important;
    color:#000000 !important;
  }
  
  .alnCenter {
    align-items: center;
    justify-content: center;
  }
  
  .alnCtrRt {
    align-items: center;
    justify-content: right;
  }
  
  .alnCtrLt {
    align-items: center;
    justify-content: left;
  }
  
  .alnLt {
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .alnRt {
    align-items: flex-end;
    justify-content: flex-end;
  }
  
  .alnCtrBt {
    align-items: center;
    align-content: center;
    justify-content: flex-end;
  }
  
  .alnCtrTp {
    align-items: flex-start;
    align-content: center;
    justify-content: center;
  }

  table {
    max-width: 100%;
    border: transparent;
    font-size: 8px;
  }
  
  th {
    padding: 1%;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background-color: #f2f2f2;
  } 
  
  td {
    padding: 1%;
    text-align: center;
    border-bottom: 1px solid #ddd;
    resize: horizontal;
    overflow: hidden;
  }
  
  .selfStructure {
    display: -webkit-flex;
    align-items: flex-start;
    margin-bottom: 5%;
    margin-top: 15%;
  }
  
  .selfStructure img {
    display: -webkit-flex;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: fill;
  }
    
  textarea {
    width: 95%;
    padding-bottom: 15%;
    height: 150px;
    resize: both;
    background-color: #f2f2f2;
  }

  .pup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .pupContent {
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
}