@media (min-width: 1024px) and (max-width: 1439px) {
@media (orientation: portrait) {
    /* Styles for small screens (e.g., smartphones) */
    /* Style for portrait view */
    @keyframes moveRocket {
      0% {
        left: -100px;
        }
      100% {
        left: calc(100% - 75px);
      }}
  
    @font-face {
      src: url('Ubuntu-Regular.ttf') format('truetype');
      font-family: 'Ubuntu';
    }

    @font-face {
      src: url('Ubuntu-Bold.ttf') format('truetype');
      font-family: 'Ubuntu';
      font-weight: bold;
    }
  
    .dashContainer:hover, .btnContainer:hover, .optContainer:hover, button:hover {
      color: #000000;
      background-color: #AEE2FC;
    }
  
    button:hover {
      color: #000000;
      background-color: #00aaff;
    }
    
    .indentSection {
      margin-left: 3%;
      margin-top: 3%;
      margin-bottom: 3%;
    }
  
    .bName, img {
      font-size: 25px;
      display: flex;
      align-items: center;
      object-fit: scale-down;
      z-index: 3;
    }
  
    .safetyFont {
      font-size: 22px;
      font-weight: bold;
    }
  
    .h2Font, .bWorld {
      font-size: 22px;
    }
  
    .btnFont {
      font-size: 14px;
      font-weight: normal;
    }
  
    .cirFont {
      font-size: 30px;
      font-weight: bold;
    }
  
    body {
      -webkit-user-select: none;
      user-select: none;
      margin: 0;
      padding: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      font-family: 'Ubuntu';
      background-color: #aaaaaa;
    }
  
    canvas {
      display: flex;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 0;
    }
  
    header {
      margin: 0;
      padding: 1px;
      height: 55px;
      display: flex;
      position: relative;
      align-items: center;
      color: #000000;
      background-color: #AEE2FC;
    }
  
    header a {
      z-index: 0;
    }
  
    nav {
      height: 30px;
      display: flex;
      flex-direction: row;
      position: relative;
      color: #fff;
      background-color: #333;
      align-items: center;
      justify-content: right;
      z-index: 1;
    }
  
    .navLinks{
      display: flex;
      flex-direction: row;
    }
  
    nav a {
      padding: 1% 10px;
      color: #fff;
      display: flex;
      font-weight: bold;
    }
  
    li {
      margin-top: 1%;
      list-style-type: "->";
      font-weight: bold;
      color: #000000;
      border: transparent;
    }
  
    li img {
      width: 20px;
      height: 20px;
    }
  
    li a {
      text-decoration: none !important;
      color:#000000 !important;
    }
  
    main {
      flex: 1;
      display: flex;
    }
  
    .dashboard {
      width: 10%;
      height: 100%;
      float: left;
      display: flex;
      position: relative;
      flex-direction: column;
      background-color: #f2f2f2;
    }
  
    .dashHeader {
      width: 90%;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      padding-bottom: 3%;
      border-bottom: 1px solid #c0c0c0;
    }
  
    .dashContent {
      width: 100%;
      padding-bottom: 1%;
      margin-bottom: 3%;
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .dashContainer {
      width: inherit;
      height: 100%;
      display: flex;
      background-color: #f2f2f2;
      border-radius: 5px;
      border: 1px solid #000000;
      justify-content: space-between;
      align-items: center;
    }
  
    .dashPortal {
      top: 5%;
      position: relative;
    }
  
    .mainStructure {
      width: 90%;
      height: 100%;
      flex: 1;
      float: right;
      display: flex;
      position: relative;
      z-index: 0;
    }
  
    .sectTitle {
      width: 100%;
      display: flex;
      background-color: #ffffff;
      position: relative;
      border-bottom: 1px solid #c0c0c0;
    }
  
    .sectContent {
      margin-top: 1%;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      position: relative;
      background-color: #ffffff;
    }
  
    .sectHome, .sectPerformance, .sectAbility,
    .sectAbility, .sectCost, .sectSafety, .sectTurnkey,
    .sectUpgrade, .sectFabrication, .sectSCADA, .sectHMI,
    .sectWeb, .sectDatabase, .sectPLC, .sectForms, .sectPortal, .sectContact{
      height: 100%;
      width: 100%;
      padding-left: 1%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      transition: background-color 0.3s;
    }
  
    .btnContainer {
      margin-left: 25%;
      margin-top: 5%;
      padding: 10px;
      width: 80px;
      height: 30px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ffffff;
      border-radius: 5px;
      border: 1px solid #000000;
      transform: translate(-50%,-50%);
    }
  
    .sectContainer {
      margin-top: 2%;
      margin-left: 20%;
      display: inline-flex;
      position: relative;
      justify-content: left;
      align-items: left;
      background-color: #ffffff;
      border-radius: 5px;
    }
  
    .lgxContainer {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .preContainer {
      display: flex;
      flex-direction: row;
      border: 1px solid #a0a0a0;
      border-radius: 20px;
    }
  
    .clmContainer {
      display: flex;
      flex-direction: column;
    }
  
    .flxContainer {
      display: flex;
      flex-direction: row;
    }
  
    .frmContainer {
      display: flex;
      flex-direction: column;
    }
  
    .formContainer {
      height: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 3%;
      padding-left: 1%;
      border: 1px solid #ddd;
      border-radius: 3%;
    }
  
    .optContainer {
      margin-right: 10px;
      padding: 10px;
      width: 80px;
      height: 30px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: #ffffff;
      border-radius: 5px;
      border: 1px solid #000000;
      transform: translate(-50%,-50%);
    }
  
    .btnDash {
      padding: 3%;
      width: 80%;
      color: #000000;
      background-color: #f2f2f2;
      font-weight: bold;
      border-radius: 5px;
      text-align: right;
    }
  
    .btnForm {
      display: flex;
      margin-right: 15px;
      margin-top: 5px;
      background-color: #ffffff;
      border: none;
      border-radius: 4px;
      text-align: center;
      align-items: flex-end;
      justify-content: flex-end;
    }
  
    button {
      width: 75px;
      display: flex;
      padding: 10px 20px;
      background-color: #AEE2FC;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      justify-content: center;
      text-align: center;
    }
  
    .btnCmd {
      width: 100%;
      padding: 3%;
      color: #000000;
      text-align: center;
      justify-content: center;
      background-color: #ffffff;
      font-weight: bold;
      border-radius: 5px;
    }
  
    .btnHome {
      width: 80%;
      color: #000000;
      text-align: center;
      justify-content: center;
      position: absolute;
      background-color: #ffffff;
      border-radius: 5px;
    }
  
    .lftContent {
      flex: 1;
      max-width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      border-radius: 5px;
    }
  
    .rhtContent {
      flex: 1; /* Allow rhtContent to expand and fill available space */
      max-width: 50%; /* Set a maximum width of 25% */
      height: 100%;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      border-radius: 5px;
      margin-left: 20%;
      padding-right: 1%;
    }
  
    .rhtPara {
      display: flex;
      font-size: 18px;
      line-height: 1.5;
      font-weight: normal;
      background-color: #ffffff;
    }
  
    .lftPara {
      display: flex;
      flex-direction: column;
      font-size: 18px;
      line-height: 1.5;
      font-weight: normal;
      background-color: #ffffff;
    }
  
    .lftPara strong {
      font-size: 16px;
      display: inline-flex;
    }
  
    .cStructure{
      margin-top: 20px;
      width: 600px;
      height: 300px;
      position: relative;
      display: flex;
    }
  
    .cSCADA, .cHMI, .cPLC, .cWeb, .cAlarms, .cEvents {
      position: absolute;
      width: inherit;
      height: inherit;
      justify-content: left;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
    }
  
    .widget {
      margin-left: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 300px;
      height: 300px;
      border-radius: 5px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
      cursor: move;
      border: 1px solid #ddd;
      transition: transform 0.2s ease-in-out;
    }
  
    .functionBlock {
      display: flex;
      flex-direction: column;
      width: 150px;
      height: 200px;
      border-radius: 5px;
      border: 1px solid #000000;
    }
  
    .inline {
      left: 4.8%;
      height: 0;
      position: absolute;
      align-items: left;
      width: 50px;
      border: 1px solid #000000;
    }
  
    .outline {
      left: 39%;
      height: 0;
      position: absolute;
      align-items: center;
      width: 50px;
      border: 1px solid #000000;
    }
  
    .functionName {
      margin-bottom: 4px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 150px;
      height: 20px;
      border-radius: 5px;
    }
  
    .functionUpper {
      margin-bottom: 15px;
      display: flex;
      flex-direction: row;
      width: 150px;
      height: 20px;
      border-radius: 5px;
    }
  
    .functionIn {
      margin-left: 5px;
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      width: 50px;
      height: 20px;
      border-radius: 5px;
    }
  
    .functionOut {
      margin-left: 15px;
      align-items: center;
      margin-bottom: 15px;
      display: flex;
      width: 50px;
      height: 20px;
      border-radius: 5px;
    }
  
    .cirPara {
      height: inherit;
      width: inherit;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-weight: normal;
      background-color: #ffffff;
    }
  
    .cir {
      display: flex;
      margin-top: 65px;
      margin-left: 5px;
      margin-right: 5px;
      align-items: center;
      justify-content: center;
      height: 65px;
      width: 65px;
      border: 1px solid #000000;
      border-radius: 15px;
    }
  
    .cirA {
      background-color: #ffbe81;
    }
  
    .cirP {
      background-color: #AEE2FC;
    }
  
    .cirQ {
      background-color: #8183ff;
    }
  
    .cirOEE {
      background-color: #b3ff81;
    }
  
    .popover {
      font-size: 16px;
      font-weight: bold;
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      z-index: 1;
      display: none;
    }
  
    .rocket {
      display: flex;
      top: 30px;
      width: 75px; /* Adjust the size of the rocket ship as needed */
      height: 75px;
      position: absolute;
      transform: translateY(-50%);
      animation: moveRocket 10s linear infinite;
      z-index: 1;
    }
  
    footer {
      padding: 0;
      height: 35px;
      display: flex;
      color: #fff;
      background-color: #333333;
      text-align: left;
      align-items: center;
    }
  
    .lgxName, .brName {
      display: flex;
      background-color: transparent;
    }
  
    .lgxContent {
      width: 100%;
      display: flex;
      position: relative;
      padding-top: 10%;
      align-items: center;
      justify-content: center;
      background-color: transparent;
    }
  
    .lgxRung {
      width: 100%;
      height: 2px;
      display: flex;
      flex-direction: row;
      background-color: #000000;
      margin-bottom: 20px;
    }
  
    .lgxBranch {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 250px;
      height: 75px;
      background-color: transparent;
      border-left: 2px solid #000000; 
      border-right: 2px solid #000000; 
      border-bottom: 2px solid #000000; 
    }
  
    .brTop, .brBottom {
      display: flex;
      flex-direction: row;
      position: relative;
      align-items: center;
      justify-content: center;
    }
  
    .brRun, .brStart, .brReady {
      top: -15%;
      width: 125px;
      height: 75px;
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .oteRun {
      left: 8%;
    }
  
    .xicStart, .xioStop, .xicEStop, .oteRun {
      top: -2500%;
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 125px;
      height: 75px;
      background-color: transparent;
    }
  
    .lgxCarrots, .brCarrots {
      height: 30%;
      width: 20%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      background-color: #ffffff;
    }
  
    .lgxLeft, .brLeft {
      display: flex;
      width: 15px;
      justify-content: flex-start;
    }
  
    .lgxRight, .brRight {
      display: flex;
      width: 15px;
      justify-content: flex-end;
    }
  
    .brReady .brCarrots, .xicEStop .lgxCarrots, .xioStop .lgxCarrots {
      background-color: #84ffa9;
    }
  
    .tblContent {
      background-color: transparent;
    }
    
    table {
      width: 100%;
      border-collapse: collapse;
    }
    
    th {
      padding: 3%;
      text-align: center;
      border-bottom: 1px solid #ddd;
      background-color: #f2f2f2;
    } 
  
    td {
      padding: 5px;
      text-align: center;
      border-bottom: 1px solid #ddd;
      resize: horizontal;
      overflow: hidden;
    }
  
    .selfStructure {
      display: flex;
      align-items: flex-start;
      margin-bottom: 5%;
      margin-top: 15%;
    }
  
    .selfStructure img {
      display: flex;
      width: 100px;
      height: 100px;
      margin-right: 10px;
      border-radius: 50%;
      object-fit: fill;
    }
  
    .formContent {
      display: flex;
      flex-direction: column;
      width: 95%;
      margin-top: 3%;
      padding-left: 1%;
      border: 1px transparent #ddd; 
    }
  
    .formContent textarea {
      width: 95%;
      padding-bottom: 25%;
      height: 150px;
    }
  
    .formContent label, .formContent input {
      width: 350px;
      padding-bottom: 5px;
      display: flex;
      justify-content: flex-start;
    }
  
    .opStructure {
      font-size: 22px;
      margin-top: 65px;
    }
  
    .flxStructure {
      display: flex;
      flex-direction: column;
    }
  
    .flxSection {
      width: 50%;
      flex-direction: row;
      border: 1px solid #000000;
    }
  
    .flxLeft {
      width: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  
    .flxRight {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
    }
  
    .frmSection {
      display: flex;
      width: 50%;
      flex-direction: row;
      align-items: center;
    }
  
    .preSection {
      display: flex;
      width: 50%;
      flex-direction: column;
      align-items: center;
    }
  
    .preLeft, .preRight {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .chkBox {
      margin-left: 1%;
      margin-right: 3%;
    }
  
    .cPre {
      height: 100%;
      width: 100%;
      display: flex;
      border: 1px solid #a0a0a0;
      border-radius: 5px;
    }
  
    .cCompany, .cName, .cEmail, .cPhone, .cProcess, .cOther {
      padding-bottom: 2px;
      height: 20px;
      width: 100%;
      border: none;
      border-bottom: 1px solid #000000;
    }
  
    .frmOptions {
      width: 100%;
      display: flex;
      margin-top: 10px;
      margin-left: 10px;
      justify-content: flex-end;
    }
  
    .preOptions {
      width: 250px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  
    .tossContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
}
}